.approvals {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  .approval {
    width: 45%;
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .left,
    .right {
      width: 47%;
    }

    .approve-button {
      padding: 0.2rem;
      cursor: pointer;
      background-color: blue;
      color: white;
      border-radius: 10px;
      display: block;
    }
  }
}
