.upcoming-wrapper {
  width: 100%;
  background: white;
  border-radius: 15px;

  .upcoming-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #0645ff;
  }

  .no-classes {
    text-align: center;
    font-weight: bold;
  }

  .booking-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    .information {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > div {
        width: 45%;
      }

      :nth-child(1) {
        color: rgba(6, 69, 255, 1);
        font-weight: bold;
      }

      svg {
        margin-left: 0.1rem;
      }
    }

    .launch-button {
      cursor: pointer;
      border-radius: 15px;
      background: radial-gradient(
        145.26% 1798.35% at -45.26% -50%,
        #369aff 0%,
        #003bff 100%
      );
      color: white;
      padding: 0.2rem;
    }
  }
}
