@media only screen and (max-width: 767px) {
    .landing-parallax-wrapper .cta-card-section .card{
        padding: 30px 10px;
    }
    .landing-parallax-wrapper .cta-card-section .card .btn-group button {
        padding: 0px 10px !important;
        margin-right: 10px !important;
    }
    .btn-cta-card{
        margin-bottom: 25px !important;
    }
    .btn-schedule{
        color: #2379FF !important;
    }
  }
  