@media only screen and (max-width: 767px) {
  .landing-parallax-wrapper .learning-process-section .row .title {
    font-size: 26px !important;
  }
  .landing-parallax-wrapper .learning-process-section .row .sub-title {
    font-size: 23px !important;
  }
  .landing-parallax-wrapper .learning-process-section .list-learning-process .learning-process_item{
      width: 100% !important;
  }
}
