@media only screen and (max-width: 767px) {
    .landing-parallax-wrapper .normal-top-section .container{
        // display: contents !important;
        flex-direction: column-reverse;
        max-width: 100% !important;
    }
    .landing-parallax-wrapper .normal-top-section .container .left-panel{
        width: 100% !important;
    }
    .landing-parallax-wrapper .top-section-text .top-text{
        font-size: 28px !important;
    }
    .landing-parallax-wrapper .normal-top-section .container .right-panel{
        width: 100% !important;
        display: flex !important;
    }
    .landing-parallax-wrapper .normal-top-section .container img{
        height: auto !important;
        margin-top: 20px !important;
        margin: 0 auto
    }
    .landing-parallax-wrapper .normal-top-section{
        height: 100vh !important;
        margin-top: 0px !important;
    }
    .normal-top-section {
        .content-wrapper {
            // display: block !important;
        }
    }
    .landing-parallax-wrapper .normal-top-section .container img{
        max-width: 100% !important;
    }
}