.homepage__container {
  display: flex;
  width: 100%;

  .homepage__subjects {
    width: 70%;
    margin-right: 1rem;
  }

  .homepage__updates {
    border-radius: 15px;
    background: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1rem;
    margin: 1rem 0rem;
  }
}

.homepage3__title {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  margin: 1rem 0rem;

  .subjects {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .exam-board {
    font-size: 1.5rem;
    color: #5a5a5a;
    font-weight: bold;
  }
}

.subject__container {
  margin: 1rem 0rem;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1rem;

  > div {
    > img {
      width: 100px;
      margin-right: 0.5rem;
    }
    display: flex;
    align-items: center;
  }

  .subject__title {
    font-size: 2rem;
    font-weight: bold;
  }

  a {
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(90.5deg, #247aff 0.33%, #0442ff 99.57%);
    color: white;
    padding: 0.3rem 1rem;
    width: 15%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  a {
    color: white;
    // width: 100%;
  }
}

.update__title {
  font-size: 2rem;
  font-weight: bold;
}

.update__versions {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  .update__version :nth-child(1) {
    color: rgba(151, 151, 151, 1);
  }
  .update__version :nth-child(2) {
    color: black;
  }
}

.update__news-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.news-item__container {
  // display: flex;
  margin-bottom: 0.5rem;

  .news-item__button {
    background: radial-gradient(
      145.26% 1798.35% at -45.26% -50%,
      #369aff 0%,
      #003bff 100%
    );
    color: white;
    text-align: center;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-right: 0.2rem;
    display: inline-block;
    cursor: pointer;
  }
  .news-item__title {
    display: inline-block;
    font-weight: bold;
  }
  .news-item__news {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .homepage__container {
    flex-direction: column;

    .homepage__subjects {
      width: 90%;
      margin: 0.5rem auto;
    }

    .homepage__updates {
      width: 90%;
      margin: 0.5rem auto;
    }
  }
}
