

.modal-delete-confirm .modal-dialog {
    width: 300px;
  }
  .confirm-modal-body {
    text-align: center;
  }
  .confirm-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
  }
  .confirm-content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000001;
    margin-bottom: 15px;
  }
  .confirm-btn {
    margin-bottom: 10px;
  }
  .btnCancel {
    float: left;
    padding: 6px 30px;
    margin-left: 8px;
  }
  .btnDelete {
    float: right;
    padding: 6px 30px;
    margin-right: 8px;
  }
  
  @media only screen and (max-width: 767px) {
    .modal-delete-confirm .modal-dialog {
      width: 95%;
    }
  }
  