.lorem-card-edit-btn {
    float: right;
    cursor: pointer;
  }
  .lorem-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  .details-lorem-card {
    padding: 0px 25px 32px 25px;
  }
  .lorem-card {
    padding: 20px;
  }
  .detail-lorem-card-edit {
    background: #f2f2f2;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 25px;
  }
  .text-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #606060;
  }
  .text-view {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .input-edit-lorem{
      background: #F2F2F2;
      border: none;
      border-bottom: 2px solid #fff;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  }