.edit-action {
  width: 100px;
  font-weight: bold;
  display: flex;
  font-size: 14px;
  padding: 8px 0px 0px 15px;

  .edit-action__delete {
    flex: 1;
    color: #db0000;
    cursor: pointer;
  }

  .edit-action__save {
    color: #0340ff;
    cursor: pointer;
  }
}