.video-player-wrapper {
  padding: 5px;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 70vh;

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  > div:first-child {
    margin: 0 auto;
    position: absolute;
    padding: 0 10px 10px 0px;
  }
  iframe {
    border-radius: 10px;
  }
  .react-player__preview {
  }
  .video-player_banner {
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0;
    color: white;
  }
}

@media only screen and (max-width: 767px) {
  .video-player-wrapper {
    div {
      width: 100% !important;
    }
  }
}
