.questions2__title-container.amber {
  background: rgba(254, 199, 135, 0.5);
}

.questions2__title-container.green {
  background: rgba(155, 239, 147, 0.5);
}

.questions2__title-container.red {
  background: rgba(254, 135, 135, 0.5);
}

.questions2__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 1rem 0;
  width: 90%;

  .button {
    border: 1.5px solid #0340ff;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    > div {
      display: inline-block;
      transform: rotate(90deg) scale(0.7);
    }
  }

  .questions2__title {
    font-weight: bold;
    font-size: 2rem;
  }

  .questions2__exam-board {
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #5a5a5a;
  }

  .questions2__spec-point-title {
    font-size: 1rem;
    font-weight: bold;
    color: #5a5a5a;
    margin-right: 2rem;
  }
}

.questions2__content-container {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  .main-content {
    width: 65%;
  }
}

.questions2__question {
  border-radius: 15px;
  background: white;
  width: 90%;
  padding: 1rem;
  margin: 1rem 0rem;
  margin-top: 0;
  font-weight: bold;
  .question__number {
    font-size: 1rem;
    color: #455ba7;
  }
}

.options__container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  width: 100%;
  .option {
    width: 40%;
    padding: 1rem;
    background-color: white;
    margin: 1rem 1rem;
    border-radius: 15px;
    position: relative;
    // font-weight: bold;
    .option__title {
      font-size: 1rem;
      font-weight: bold;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: 2px solid rgba(34, 118, 255, 1);
      background: white;
      text-align: center;
      padding: 0;
      margin: 0;
      position: absolute;
      left: -1rem;
      top: -0.6rem;
      // line-height: 1rem;
    }
  }

  .correct {
    background: rgba(155, 239, 147, 0.7);
  }

  .incorrect {
    background: rgba(254, 135, 135, 0.6);
  }
}

.questions2__explanation {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  padding: 1rem;
  //
  .title {
    font-size: 1rem;
    font-weight: bold;
    color: #455ba7;
  }
}

.questions2__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 90%;
  .button {
    border: 1.5px solid #0340ff;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    width: 20%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .questions2__title-container {
    margin: 1rem auto;
  }
  .questions2__content-container {
    flex-direction: column;
    margin: auto;
    justify-content: center;
    .main-content {
      width: 100%;
      justify-content: center;
    }

    .questions2__question {
      margin: auto;
    }

    .options__container {
      margin: auto;
    }

    .questions2__explanation {
      margin: auto;
    }

    .questions2__buttons {
      margin: auto;
    }
  }
}
