.feedback-container {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  margin: 0.5rem;

  .feedback {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(90.04deg, #2276ff 0.02%, #0341ff 99.98%);
    border-radius: 15px;
    padding: 0.5rem;

    .feedback-left {
      span {
        margin-left: 0.5rem;
      }
    }
    .feedback-right {
      background: #ffffff;
      border: 1.5px solid #2378ff;
      box-sizing: border-box;
      border-radius: 12px;
      margin-right: 0.5rem;
      padding: 0.2rem;
    }
    .feedback-right:focus {
      outline: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .feedback {
    flex-direction: column;
    text-align: center;
    .feedback-right {
      width: 100%;
    }
  }
}
