.page__row {
  display: flex;
}
.banner {
  width: 100%;
}
.page {
  &__widgets {
    display: flex;
  }
}
.page__widgets .widget-md-6 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50%);
  width: calc(50%);
}
.widget-first {
  padding-right: 20px;
}

.analytics-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  height: auto;
  color: #000;
}
.form-control-select {
  border-radius: 15px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
  background: url(../../assets/img/arrow-down.png) no-repeat right, white;
  -webkit-appearance: none;
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
}
.card-notifications {
  position: relative;
  border-radius: 15px;
  background: linear-gradient(90.04deg, #2276ff 0.02%, #0341ff 99.98%);
  overflow: hidden;
  min-height: 64px;
  margin: 0px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
}
.notifications-content {
  padding-left: 10px;
  display: flex;
}
.left-icon {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 10px;
}
.right-content {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  text-align: initial;
  color: #ffffff;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.btnChatWithUs {
  background: #fff;
  border-radius: 12px;
  /* border: 1.5px solid #2378ff; */
  padding: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#5993f3, #0341ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 170px;
  border: none;
  font-size: 16px;
  font-weight: 900;
}
.btn-chat-with-us {
  position: inherit;
  right: 3px;
  padding: 7px;
  margin: 5px;
  -webkit-text-fill-color: transparent;
  border-radius: 15px;
  background: linear-gradient(to right, white, white),
    linear-gradient(90deg, #5993f3, #0341ff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  top: 3px;
  display: flex;
}

@media only screen and (max-width: 1180px) {
  .analytics-mini-card {
    flex-basis: calc(100%);
    width: calc(99%);
    max-height: 20px;
  }
}

@media only screen and (max-width: 1023px) {
  .btn-chat-with-us {
    position: inherit;
  }
}

@media only screen and (max-width: 767px) {
  .notifications-content {
    display: inline-grid;
    .right-content {
      width: calc(100% - 20px);
    }
  }
  .btn-chat-with-us {
    position: initial;
    padding: 5px;
    margin: 15px 0;
  }
  .page {
    &__widgets {
      display: block;
    }
  }
  .analytics-mini-card:not(:last-child) {
    margin-right: 1%;
  }
}
