.join-modal {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  .modal-dialog {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    .modal-content {
      position: relative;
      // width: max-content !important;
      margin: 0 auto !important;
      // height: 100%;
      max-width: 80vw;
      max-height: 80vh;
    }
  }

  .modal-content {
    position: relative;
  }

  .modal-body {
    padding: 5px;
  }
}

.video-iframe {
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

.video-modal-iframe {
  border-radius: 5px;
  width: 100%;
  height: 30rem;
}

.video-player-banner {
  position: absolute;
  top: 10px;
  right: 10px;

  .icon-svg-wrapper {
    filter: brightness(0.5);
  }
}

.modal-content {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.form-feedback {
  width: 100%;
  position: relative;
  display: inline-flex;

  .form-feedback__message {
    width: 70%;
    float: left;
  }

  .txt-feedback {
    border-radius: 10px;
    // font-size: 11px;
    background-color: #edeef1;
    border: 3px solid #fff;
  }

  .btn-feedback {
    width: 85px;
    position: absolute;
    top: 10%;
    right: 9px;
    // font-size: 12px;
    height: 80%;
    // background: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
  }

  .btn-feedback:hover {
    background: #0340ff;
  }

  .rate-feedback {
    display: flex;
    width: 30%;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 3px 10px 3px 10px;
    vertical-align: middle;
    align-items: center;

    .rate-feedback__title {
      font-weight: bold;
      flex: 1;
    }

    .rate-feedback__star>svg {
      margin-left: 5px;
    }
  }
}

.modal-input {
  position: absolute;
  width: 100%;
  bottom: -80px;
}

input[type="text"].txt-feedback {
  padding-right: 90px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .modal-input {
    position: absolute;
    width: 100%;
    bottom: -112px;
  }

  .form-feedback {
    display: contents;
  }

  .form-feedback .form-feedback__message {
    width: 100%;
  }

  .form-feedback .rate-feedback {
    width: 100%;
  }

  .form-feedback .rate-feedback {
    margin-left: 0px;
  }

  .input-feedback {
    padding-right: 0px !important;
  }

  .rate-feedback__star {
    font-size: 1rem;
  }

  .form-feedback .txt-feedback::-webkit-input-placeholder {
    font-size: 0.7rem;
    line-height: 3;
  }
  .join-modal .modal-dialog .modal-content{
    width: 100% !important;
  }
}