.page {
  &__bn1 {
    margin-bottom: 30px;
  }
}
.page {
  &__row {
    display: flex;
  }
}
.banner {
  width: 100%;
  &__container {
    &__search {
      position: relative;
      padding: 3px 3px 3px;
      border-radius: 20px/20px;
      background: linear-gradient(90.04deg, #2276ff 0.02%, #0341ff 99.98%);
      overflow: hidden;
      min-height: 46px;
      margin: 0px 2.08%;
      filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
    }
    &__welcome__back {
      background: #fff;
      margin: 0px 2.08%;
      filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
      border-radius: 15px;
      padding: 66px;
    }
  }
}
.search-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.6px;
  padding-top: 9px;
  text-align: center;
  color: #ffffff;
  margin-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  svg {
    display: inline;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-top: -3px;
    margin-right: 5px;
  }
}
.update-email-click {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21.6px;
  padding-top: 9px;
  color: #ffffff;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
