.speccard__container {
  width: 30%;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  justify-content: flex-start;
  .speccard__spec-rating {
    display: flex;
    align-items: center;
    justify-content: center;

    .speccard__spec {
      margin: 0 0.5rem;
      border-radius: 15px;
      background: radial-gradient(
        145.26% 1798.35% at -45.26% -50%,
        #369aff 0%,
        #003bff 100%
      );
      color: white;
      // font-weight: bold;
      padding: 0.2rem 0.5rem;
    }

    .speccard__rating {
      select {
        border: none;
        color: white;
        background: grey;

        border-radius: 15px;
        border: 1px solid rgba(222, 222, 222, 1);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 0 0.5rem;
        padding: 0.2rem 0.5rem;
        background: gray;
      }
      .green {
        background: #9bef93;
      }

      .amber {
        background: #fec787;
      }

      .red {
        background: #fe8787;
      }
    }
    .green {
      background: #9bef93;
      border-color: #9bef93;
    }

    .amber {
      background: #fec787;
      border-color: #fec787;
    }

    .red {
      background: #fe8787;
      border-color: #fe8787;
    }
  }

  .speccard__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }
  .speccard__number {
    font-weight: bold;
  }
  .speccard__text {
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 19px;
    text-align: center;
    color: #000001;
    margin-bottom: 0.5rem;
  }
  .speccard__buttons {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-self: center;
    margin-top: auto;
    .speccard__button {
      margin: 0.3rem;
      // font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > div {
        margin-left: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .speccard__container {
    width: 90%;
    margin: 0.5rem auto;
  }
}
